.navbar {
  background-color: #02023d;
}

.nav-link {
    color: white;
    font-family:"Times New Roman";
    font-size:18px;
}
.nav-link.btn {
  background-color: #3198b9;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
}

.nav-link.btn:hover {
  background-color: rgba(0, 0, 0, 0.91);
}
#searchInput {
  width: 90%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin: 5px 0;
}
.dropdown-item{
    border:solid black 1px;
    text-align:center;
    font-family:"Times New Roman";
    font-weight:bolder;
}
#title{
    position: absolute;
    top: 19%;
    left: 50%;
    transform: translate(-50%, -50%);
  font-size: clamp(3rem, 6vw, 6rem);
    font-family: "Playfair Display";
    -webkit-text-stroke: 0.2vw white;
    letter-spacing: 3px;
    font-weight:900;
    color: lightskyblue;
     text-transform: uppercase;
}
.carousel-item img {
    width: 100%;
    max-height: 650px;     
    object-fit: cover;  
}

 #topvisited{
    color: rgba(59, 161, 215, 0.94);
    text-align: center;
    font-size:4vw;
    padding:160px 60px 160px 70px;
    max-height:800px;
    font-weight:bolder;
    font-family:"Times New Roman";
    border:8px outset rgba(49, 152, 185, 0.94);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6),
              -5px -5px 15px rgba(255, 255, 255, 0.2);
}
#container1{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    border:none;
    padding:12px;
   margin:auto;
    height:400px;
    width:370px;
}
#container1 .btn{
    position:absolute;
    bottom: 50px;
    left: 50px;
    transform: translate(-50%, -50%);
    border:1px solid #050552;
    margin:auto;
    color:white;
    background: linear-gradient(90deg, #3A0CA3, #4361EE);
    font-family:"Times New Roman";
    font-size:large;
    font-weight:bolder;
}
#container1 .btn:hover {
    background-color:slategrey;
    color: white;
    cursor: pointer;
    transform: translate(-50%, -50%)  scale(1.11);
    transform-origin: center;
    transition: all 0.3s ease;
}
#container1 h3{
    color:white;
    text-decoration:none;
    font-weight:bolder;
    font-family:"Playfair Display";
     position: absolute;
  top: 83px;
  left: 175px;
   transform: translate(-50%, -50%);
}
#container1 img{
    border-radius:10px;
     transition: transform 0.3s ease, filter 0.3s ease;
    margin:8px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6),
              -5px -5px 15px rgba(255, 255, 255, 0.2);
}
#container1 img:hover{
   background-color: rgba(0, 0, 0, 0.91);
     cursor: pointer;
    transform:  scale(1.07);
    transform-origin: center;
    transition: all 0.3s ease;

}
 #ourpackages {
     text-align: center;
     color:rgba(59, 161, 215, 0.94);
     font-weight:bolder;
     font-family:"Times New Roman";

 }
 .card-packages{
     position:relative;
     display:block;
     height:570px;
     width:420px;
     border:none;
     border-radius:13px;
     margin: 4px;
      background-color: #f9f9f9;
     padding:5px;
     box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6),
              -5px -5px 15px rgba(255, 255, 255, 0.2);
 }
 .card-packages img {
      transition: transform 0.3s ease, filter 0.3s ease;
     display:block;
     height:250px;
  width: 100%;
  border-radius: 8px;
}
 .card-packages img :hover{
  transform: scale(1.05);
    filter: brightness(1.2);
}
.card-packages .btn{
    position:absolute;
    top: 545px;
    left: 200px;
    transform: translate(-50%, -50%);
    border:1px solid #050552;
    margin:auto;
    color:white;
    background: linear-gradient(90deg, #3A0CA3, #4361EE);
    font-family:"Times New Roman";
    font-size:large;
    font-weight:bolder;
}
.card-packages p{
    font-family:"Times New Roman";
    font-size:18px;
}
.card-packages h2{
    font-family:"Times New Roman";
    font-weight:bolder;
}

 #tipsandtricks{
  color: rgba(59, 161, 215, 0.94);
    text-align: center;
    padding:260px 80px 260px 90px;
    max-height:600px;
    font-weight:bolder;
    font-family:"Times New Roman";
    border:8px outset rgba(49, 152, 185, 0.94);
     box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6),
              -5px -5px 15px rgba(255, 255, 255, 0.2);
 }
 .container2{
     position:relative;
 }
 .container2 img{
box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6),
              -5px -5px 15px rgba(255, 255, 255, 0.2);
     border-radius:8px;
     transition: transform 0.3s ease, filter 0.3s ease;
      max-height:600px;
       max-width:600px;
 }
 .container2 img:hover{
  transform: scale(1.05);
    filter: brightness(1.2);
}
.container2 button {
    position:absolute;
    bottom: 10px;
    left: 270px;
    transform: translate(-50%, -50%);
    border:1px solid #050552;
    margin:auto;
  color: white;
  background: linear-gradient(90deg, #3A0CA3, #4361EE);
  font-family: "Times New Roman";
  font-weight: bolder;
  width: 30%;
  text-decoration:none;
 transition:transform 0.3s ease;
}

#button {
    margin:auto;
    display:block;
    color:orange;
       border-radius:4px;
    background-color:rgb(94, 178, 216);
       width:120px;
       height:40px;
 }
#bottom{
    font-family:"Lora";
    background-color: #222222;
    color:white;
    font-size:17px;
}
.containerparis img{
    border-radius:8px;
    width:95%;
}
.containerparis h1{
    position:absolute;
    bottom:1px;
    left:31%;
    font-family:"Times New Roman";
    font-weight:bolder;
    color: black;
text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
    margin:5px;
}
.container1paris{
    position:relative;
     display:block;
     max-width:850px;
     border:none;
     border-radius:13px;
     margin: 4px;
      background-color: #f9f9f9;
     padding:5px;
     box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6),
              -5px -5px 15px rgba(255, 255, 255, 0.2);
 }
.container1paris h2{
    font-family:"Times New Roman";
    text-align:center;
}

.booking-box{
    background-color:#f0f0f0;
   margin:auto;
    border:none;
 width:300px;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6),
              -5px -5px 15px rgba(255, 255, 255, 0.2);
}
.container1paris button {
    color: white;
    width:130px;
    height:40px;
    border-radius:8px;
    margin-bottom:13px;
    border: 1px solid #050552;
    background: linear-gradient(90deg, #3A0CA3, #4361EE);
    font-family: "Times New Roman";
    font-size: large;
}
.container1paris button:hover {
  transform: scale(1.05);
    filter: brightness(1.2);
}

.form-control{
    border:dotted 1px darkblsue;
}
 .helpbox{
    background-color:#f0f0f0;
    margin:auto;
    border:none;
    padding:9px;
 width:300px;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6),
              -5px -5px 15px rgba(255, 255, 255, 0.2);
}
.container1paris .helpbox .btn{
background: linear-gradient(90deg, #3A0CA3, #4361EE);
    font-family: "Times New Roman";
    font-size: large;
      border: 1px solid #050552;
      border-radius:8px;
}
.container1paris .helpbox .btn:hover {
  transform: scale(1.05);
    filter: brightness(1.2);
}
#react-clock-root{
 background-color:#a3c9f1;
    margin:auto;
    border:none;
    padding:9px;
 width:300px;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6),
              -5px -5px 15px rgba(255, 255, 255, 0.2);
}
.time-container{
    font-size:20px;
    font-weight:bolder;
      font-family: "Playfair Display";
}
#whatsapp{
    background-color: #57b657;
    color:white;
     width:230px;
    border:white;
    height:65px;
    border-radius:8px;
    font-family:"Times New Roman";
    font-weight:bolder;
    font-size:19px;
    padding:5px;
    margin-left:170px;

}
#whatsapp:hover {
  transform: scale(1.05);
    filter: brightness(1.2);
}
.customcarousel .card-packages {
    width: 350px;
    height:455px;
    font-size:2px;
}
.customcarousel .card-packages img{
    height:185px;
}
.customcarousel .card-packages .btn{
    top:435px;
    left:50%;
    height:30px;
    padding:3px 6px 3px 6px;
}
.customcarousel .card-packages h2{
    font-size:20px;
}
.customcarousel .card-packages p{
    font-size:17px;
}

.trickscard{
    position:relative;
     display:block;
     height:760px;
     max-width:650px;
     border:none;
     border-radius:13px;
     margin: 4px;
      background-color: #f9f9f9;
     padding:5px;
     box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6),
              -5px -5px 15px rgba(255, 255, 255, 0.2);

}
#h1tricks{
    font-family:"Times New Roman";
    font-weight:bolder;
    color: #02023d;
text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
    text-align:center;
}
.contactcard{
  position:relative;
     display:block;
     height:250px;
     width:650px;
     border:none;
     border-radius:4px;
     margin: 4px;
      background-color:#A8E6A3  ;
     padding:5px;
     box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6),
              -5px -5px 15px rgba(255, 255, 255, 0.2);
}
.contactcard h1{
font-family:"Times New Roman";
    font-weight:bolder;
    color: black;
text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
    text-align:center;
}
.contact1card{
   position:relative;
    margin:auto;
     display:block;
     border:none;
    width:850px;
      background-color: #A8E6A3 ;
     padding:5px;
     box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6),
              -5px -5px 15px rgba(255, 255, 255, 0.2);
}
.contact1card h1{
font-family:"Times New Roman";
    font-weight:bolder;
    color: black;
text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
    text-align:center;
}

.whyus{
    background-color: #b3e5fc;
     position:relative;
    margin:auto;
     display:block;
     border:none;
    width:1000px;
     padding:5px;
     box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6),
              -5px -5px 15px rgba(255, 255, 255, 0.2);

}
.whyus h1{
 font-family:"Times New Roman";
    font-weight:bolder;
    color: black;
text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
    text-align:center;
}
.whyus p{
     font-family: "Playfair Display";
}
#aboutus1{
  font-family: "Playfair Display";
    text-align:center;
    font-weight:bolder;
}
#aboutus2{
    margin:2px 180px;
     font-family: "Playfair Display";
}
.aboutus1{
    background-color: #a7c7e7;
     position:relative;
     display:block;
     width:600px;
     border:none;
     border-radius:4px;
     margin:0px 30px ;
     padding:5px;
     box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6),
              -5px -5px 15px rgba(255, 255, 255, 0.2);

}
.aboutus1 label{
 font-family:"Arial Black";
}
.aboutus2{
   padding:1px 200px;
}
.aboutus3{
    text-align: center;
    width:600px;
    font-size:20px;
    font-family:"Times New Roman";
    border:5px outset rgba(49, 152, 185, 0.94);
     box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6),
              -5px -5px 15px rgba(255, 255, 255, 0.2);
    margin:auto;
 }
.aboutus4{
 text-align: center;
    width:500px;
    height:120px;
    font-size:20px;
    font-family:"Times New Roman";
    border:8px outset #A8E6A3 ;
     box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6),
              -5px -5px 15px rgba(255, 255, 255, 0.2);
    margin:auto;
}
@media (max-width: 500px) {
  .carousel-item ,
  .carousel-item active img {
    height: 370px !important;  
    object-fit: cover;  
    max-width:100%;   
  }
  #topvisited{
    height:80px;
    max-width:100%;
    border-radius:30px;
  }
  #container1{
    max-width:100%;
  }
    .carousel-inner .row {
    flex-direction: column;
    align-items: center;
  }

  .carousel-inner .col-md-4 {
    width: 90%;
    margin: 0 auto; 
  }
  .card-packages {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
    margin: 0 auto;
  }
  .carousel-inner .col-md-4 {
    width: 90%;
    margin-bottom: 15px;
    margin-right:20px;
  }
  .card-packages img {
    max-width: 100%;
    height: auto;
  }
  #tipsandtricks{
     padding:100px 70px 100px 80px;
     height:300px;
     border-radius:30px;
  }
  .container2{
 height:300px;
 max-width:100%;
  }
  .container2 img{
    height:430px;
 width:350px;
  }
  .container2 button {
    bottom: -130px;
    left: 230px;
  }
  #bottom{
    margin:50px 0 auto;
    max-width:100%;
  }
  .containerparis{
    max-width:100%;
  }
  .container1paris{
    width:100%;
   max-width:100%;

  }
  .trickscard{
    max-width:100%;
  }
}
@media (min-width: 768px) {
  .nav-link {
    width: 175px; 
 }
 #topvisited{
    padding: 260px 80px;
        min-height: 650px;
 }
}