{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <link href="{% static 'style.css' %}" rel="stylesheet">



</head>
    <body>
   <nav class="navbar navbar-expand-sm navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{% static 'logo.png' %}" class="float-start" alt="Logo" width="125" height="80">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav w-100">
                <li class="nav-item col-md-2 text-center">
                    <a class="nav-link" href="#">HOME</a>
                </li>
                    <li class="nav-item col-md-2 text-center">
                    <a class="nav-link" target="_blank" href="/whyus/">WHY US</a>
                </li>
                 <li class="nav-item col-md-2 text-center dropdown">
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">PACKAGES</a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/paris/">PARIS</a></li>
    <li><a class="dropdown-item" href="/rome/">ROME</a></li>
    <li><a class="dropdown-item" href="/zanzibar/">ZANZIBAR</a></li>
      <li><a class="dropdown-item" href="/thailand/">THAILAND</a></li>
    <li><a class="dropdown-item" href="/dubai/">DUBAI</a></li>
    <li><a class="dropdown-item" href="/nyc/">NEW YORK CITY</a></li>
  </ul>
</li>

                <li class="nav-item col-md-2 text-center">
                    <a class="nav-link" target="_blank" href="/tipsandtricks/">TIPS&TRICKS</a>
                </li>
               <li class="nav-item col-md-2 text-center">
                    <a class="nav-link" target="_blank" href="/aboutus/">ABOUT US</a>
                </li>
                <li class="nav-item col-md-2 text-center">
    <a class="nav-link btn btn-primary" target="_blank" href="/contactus/">CONTACT US</a>
</li>

            </ul>
        </div>
    </div>
</nav>


   <br>
   <div class="whyus">
    <img src={% static 'zanzibar.jpg' %} alt="paris" width=100% height="500">
    <h1>Why choose Worldly Adventures?</h1><hr>
    <p>At Worldly Adventures, we turn travel into an unforgettable adventure. Whether you're exploring solo or with a group, we ensure every trip is packed with excitement, not just sightseeing.</p>
<ul>
    <li><p>Adventure-Focused Travel – Thrilling Experiences – Go beyond the usual with skydiving in Dubai, zip-lining in Italy, or a helicopter ride over NYC.</p></li>
    <li><p>Personalized Itineraries – Whether you seek adrenaline or a cultural trip, we personalise your itinerary based on your style.</p></li>

    <li><p>Flights, Accommodation & More – We take care of every detail, from booking your flights to organizing best transportation,for a free-stress journey.</p></li>

    <li><p>Guided Adventures by Experts-Whether it's a desert safari in Dubai, a night helicopter tour over New York City, or a secret underground exploration in Rome, our guides bring every destination to life in the most exciting way.</p></li>

    <li><p>Iconic Cities, Unique Adventures – Experience Paris, Rome, Dubai, and NYC like never before—Vespa rides, yacht tours, and more.</p></li>
    <li><p>Stress-Free Travel –Our flexible booking options, 24/7 support, and expert recommendations make sure that your trip is smooth and stress-free.</p></li>
</ul>
    <p>Choosing Worldly Adventures means choosing more than just a vacation—it means stepping into a world of thrilling experiences, unique adventures, and memories that last forever. 🌍✈️🚀</p>
   </div>
       <br>


<a href="https://wa.me/355685491587?text=Hi,%20I%20would%20like%20to%20book%20a%20tour!" target="_blank">
               <button id="whatsapp">Contact us on Whatsapp</button></a><br><br>

<div class="container-fluid">
<div class="row w-100" id="bottom">
    <div class="col-md-3 text-center">
        <h4><b> A little about Worldly Adventures</b></h4>
        <p>At Worldly Adventures, we turn your travel dreams into reality. Whether you're seeking cultural explorations,
            breathtaking landscapes, or relaxing getaways, we enable unique experiences just for you.
            Start your next adventure with us!</p>
    </div>
    <div class="col-md-3 text-center">
        <h4><b>CONTACT US</b></h4>
    <ul type="none" class="ul1">
    <li>WorldlyAdventures@gmail.com</li>
        <li>+355689393990</li>
        <li>+355685491587</li>
        <li>    </li>
    </ul>
</div>
<div class="col-md-3 text-center">
   <h4><b>ABOUT US</b></h4>
<ul style="list-style-type: none">
    <li><a target="_blank" href="/whyus/">WHY WORLDLY ADVENTURES</a></li>
    <li><a target="_blank" href="/tipsandtricks/">TIPS & TRICKS</a></li>
    <li><a target="_blank" href="/contactus/">CONTACT US</a></li>
</ul>

</div>
    <div class="col-md-3 text-center">
        <h4><b>OUR LOCATION</b></h4>
        <a target="_blank" href="https://www.google.com/maps/place/Tourist+Agency+Outdoor+%26+More/@42.2458946,19.0892793,17z/data=!3m1!4b1!4m6!3m5!1s0x134dd954a6ef4ab3:0x595d118bef3d8df0!8m2!3d42.2458946!4d19.0918596!16s%2Fg%2F12hkfb2qd?entry=ttu&g_ep=EgoyMDI1MDEyMC4wIKXMDSoASAFQAw%3D%3D">Tirana,Albania</a>
    </div><hr>
       <p class="text-center"> All rights reserved © 2025 WorldlyAdventures.al</p>
</div></div>


</body>
</html>